.main {
  width: 110vh;
  height: 100vh;
  margin: 0 25rem;

  padding: 0;

  z-index: 1;
}

@media screen and (max-width: 1600px) {
  .main {
    display: flex;
    justify-content: center;
    margin: 0;
    width: 100%;
    height: 70%;
  }
}
